{
  "extends": "@ivangabriele/eslint-config-react",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "no-await-in-loop": "off",
    "no-console": ["error", { "allow": ["error", "info", "warn"] }],
    "no-continue": "off",
    "no-plusplus": "off",
    "no-shadow": "off",
    "no-unused-vars": ["error", { "args": "after-used" }],

    "prettier/prettier": "error",

    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off"
  },
  "overrides": [
    {
      "files": ["./scripts/**/*.js"],
      "rules": {
        "global-require": "off",
        "no-restricted-syntax": "off",

        "import/no-dynamic-require": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
