body {
  background-color: var(--background) !important;
  font-family: var(--font-base);
  font-weight: 400;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: yellow;
  text-decoration: none;
}
article a {
  border-bottom: solid 1px white;
}
article a:hover {
  border-bottom: solid 1px yellow;
}

h1 {
  font-family: var(--font-title);
}

.bg-dark {
  background-color: var(--background) !important;
}
.table-dark {
  --bs-table-bg: var(--background);
}
